*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main{
    background-image: url(../images/chaussure21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(249, 6, 6);
    padding: 300px;
    text-align: center;
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 80px;
    margin-top: 20px; 
}

.images .card {
    width: 340px;
    height: 390px;
    margin-left: 10px;
    margin-right: 10px;
}

.images .card img {
    width: 340px;
    height: 390px;
    object-fit: cover;
    border-radius: 20px;
}


.give h3{
    margin-top: 50px;
}

#contact{
    margin-top: 200px;

}


textarea{
    background-color: transparent;
    width: 100%;
    border-radius: 6px;
    border: 1px solid white;
    padding: 8px;
    margin-top: 5px;
    color: white;
}

 #contact button{
    border: none;
    color: rgb(16, 9, 31);
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;

}

#contact button:hover{

    background-color: blue;
    color: red;
}


.input-groupe{
    margin-bottom: 20px;
    
}

 #contact input::placeholder{
    color: white;
}

#contact textarea::placeholder{
    color: white;
}

#contact p{
    font-size: 20px;
}

footer {
    background: rgb(8, 7, 7) !important;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 0px;
  }
  

.social-media {
    color: white;
    text-align: center;
  }

  
.social-media i {
    font-size: 24px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
  }

  .red{
    margin-top: 100px;
    text-align: center;
  }

  h1{
    margin-top: 60px;
    color: red;

  }

  .red .social-media{
    color: black;
  }

  .red p{
    font-size: 20px;
  }

 .red img{
    width: 100%;
    height: 390px;
    object-fit: cover;
 }

 .poste{
    margin-bottom: 100px;
 }

 .give{
    margin-bottom: 100px;
 }


 .poste p,h3{
    text-align: center;
 }

 .service{
    margin-top: 50px;
    margin-bottom: 50px;
 }
  
 